body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #f67f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Adjust padding as needed */
    margin: 0;
}

h1 {
    margin: 0;
    text-align: left;
}

#headerLogo {
    height: 50px; /* Adjust the size as needed */
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #ea6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f67f00;
    /* Adjust hover color as preferred */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 8px 0;
    border-left: 5px solid #f67f00;
}

.error {
    color: red;
    text-align: center;
}

/* Additional style for select element to match other inputs */
#ratingSelect {
    width: calc(25% - 10px); /* Adjust width as needed */
    margin-right: 5px;
    display: inline-block;
}