<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Finder</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // Function to create a map iframe and toggle the dropdown
        function toggleMap(address, elementId) {
            var encodedAddress = encodeURIComponent(address);
            var iframe = document.getElementById(elementId);
            if (!iframe) {
                iframe = document.createElement('iframe');
                iframe.id = elementId;
                iframe.src = `https://www.google.com/maps?q=${encodedAddress}&output=embed`;
                document.getElementById(elementId + '-container').appendChild(iframe);
            }
            var container = document.getElementById(elementId + '-container');
            container.style.display = container.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</head>
<body>
    <header>
        <h1>Restaurant Finder</h1>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Restaurant Finder Logo" id="headerLogo">
    </header>
    <form action="/" method="post" id="searchForm">
        <input type="text" name="postcode" id="postcodeInput" placeholder="Enter postcode" required>
        <select name="min_rating" id="ratingSelect">
            <option value="0" selected>Any Rating</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>        
        <button type="submit">Search</button>
    </form>
    
    <div id="results">
        {% if restaurants %}
            <h2>Restaurants in {{ postcode }}:</h2>
            <ul>
            {% for restaurant in restaurants %}
                <li>
                    <strong>{{ restaurant['Name'] }}</strong> - {{ restaurant['Cuisines'] }} - Rating: {{ restaurant['Rating'] }}
                    <div class="map-dropdown" onclick="toggleMap('{{ restaurant['Address'] }}', 'map{{ loop.index }}')">
                        Address: {{ restaurant['Address'] }}
                    </div>
                    <div id="map{{ loop.index }}-container" class="map-container"></div>
                </li>
            {% endfor %}
            </ul>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>