<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Restaurant Finder</h1>
    <form action="/" method="post" id="searchForm">
        <input type="text" name="postcode" id="postcodeInput" placeholder="Enter postcode" required>
        <!-- Add a dropdown for selecting minimum rating -->
        <select name="min_rating" id="ratingSelect">
            <option value="0" selected>Any Rating</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>        
        <button type="submit">Search</button>
    </form>
    

    <div id="results">
        {% if restaurants %}
            <h2>Restaurants in {{ postcode }}:</h2>
            <ul>
            {% for restaurant in restaurants %}
                <li><strong>{{ restaurant['Name'] }}</strong> - {{ restaurant['Cuisines'] }} - Rating: {{ restaurant['Rating'] }} - Address: {{ restaurant['Address'] }}</li>
            {% endfor %}
            </ul>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>